# ENCODING -->

using this method , we can convert our categorical data into numerical data

In [ ]:
import pandas as pd 
import numpy as np

There are four types of encoding techniques .

1) LabelEncoding --> Transform categorical data into Numerical data but it will only
#single - single column . It will automatically decode which value pass to the which sub - category . 

2) OrdinalEncoding -->  Transform categorical data into Numerical data but it will on
#multiple column . It will automatically decode which value pass to the which sub - category . 

3) OneHotEncodind --> Transform categorical data into Numerical data but it will create
#new column based on sub -categories which you mentioned in your column .It will not provide your column name .
#column Survived(Yes,No) --> Survived_Yes , Survived_No

4) Get_dummies --> Transform categorical data into Numerical data but it will create 
#new column based on sub-categories which you mentioned in your column 
#but it will provide you  column name also. 
#column Survived(Yes,No) --> Survived_Yes , Survived_No

## LABEL ENCODING

In [4]:
df = pd.read_csv("C:\\Users\\HP\\OneDrive\\Desktop\\DATASET\\covid_toy - covid_toy.csv")

In [5]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [6]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [7]:
from sklearn.impute import SimpleImputer

In [8]:
si = SimpleImputer()

In [9]:
df['fever'] = si.fit_transform(df[['fever']])

In [10]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [11]:
from sklearn.preprocessing import LabelEncoder

In [12]:
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [13]:
lb  = LabelEncoder()

In [14]:
df['gender'] = lb.fit_transform(df['gender'])
df['cough'] = lb.fit_transform(df['cough'])
df['city'] = lb.fit_transform(df['city'])
df['has_covid'] = lb.fit_transform(df['has_covid'])

In [15]:
df.sample(3)

    age  gender  fever  cough  city  has_covid
0    60       1  103.0      0     2          0
11   65       0   98.0      0     3          1
4    65       0  101.0      0     3          0

In [16]:
x = df.drop(columns = ['has_covid']) # coverting data
y = df['has_covid']

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size = 0.2 , random_state = 42)

In [19]:
from sklearn.preprocessing import StandardScaler  # standardization process occurs from here

In [20]:
sc = StandardScaler()

In [21]:
x_train_sc = sc.fit_transform(x_train)

In [22]:
x_train_new = pd.DataFrame(x_train_sc , columns = x_train.columns)

In [23]:
np.round(x_train_new.describe() , 2)

         age  gender  fever  cough   city
count  80.00   80.00  80.00  80.00  80.00
mean   -0.00    0.00  -0.00  -0.00  -0.00
std     1.01    1.01   1.01   1.01   1.01
min    -1.56   -0.84  -1.56  -0.82  -1.17
25%    -0.94   -0.84  -0.51  -0.82  -1.17
50%    -0.04   -0.84   0.01  -0.82  -0.27
75%     0.91    1.19   0.53   1.22   0.63
max     1.69    1.19   1.57   1.22   1.53

In [24]:
df = pd.read_csv("C:\\Users\\HP\\OneDrive\\Desktop\\DATASET\\tips - tips.csv")

In [25]:
df.head(3)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3

In [26]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [27]:
from sklearn.preprocessing import LabelEncoder

In [28]:
lb = LabelEncoder()

In [29]:
df['sex'] = lb.fit_transform(df['sex'])
df['smoker'] = lb.fit_transform(df['smoker'])
df['day'] = lb.fit_transform(df['day'])
df['time'] = lb.fit_transform(df['time'])

In [30]:
df.head(3)

   total_bill   tip  sex  smoker  day  time  size
0       16.99  1.01    0       0    2     0     2
1       10.34  1.66    1       0    2     0     3
2       21.01  3.50    1       0    2     0     3

In [31]:
x= df.drop(columns = ['total_bill'])
y = df['total_bill']

In [32]:
x_train , x_test ,y_train, y_test = train_test_split(x,y,test_size = 0.2 ,random_state = 42)

In [33]:
from sklearn.preprocessing import MinMaxScaler # normalization happens here

In [34]:
mn = MinMaxScaler()

In [35]:
x_train_mn = mn.fit_transform(x_train)

In [36]:
x_train_new = pd.DataFrame(x_train_mn ,columns = x_train.columns)

In [37]:
np.round(x_train_new.describe(),2)

          tip     sex  smoker     day    time    size
count  195.00  195.00  195.00  195.00  195.00  195.00
mean     0.23    0.65    0.38    0.57    0.27    0.31
std      0.16    0.48    0.49    0.31    0.45    0.19
min      0.00    0.00    0.00    0.00    0.00    0.00
25%      0.11    0.00    0.00    0.33    0.00    0.20
50%      0.22    1.00    0.00    0.67    0.00    0.20
75%      0.30    1.00    1.00    0.67    1.00    0.40
max      1.00    1.00    1.00    1.00    1.00    1.00

## 2) OrdinalEncoder

In [44]:
df = pd.read_csv("C:\\Users\\HP\\OneDrive\\Desktop\\DATASET\\covid_toy - covid_toy.csv")

In [45]:
df = df.drop(columns = ['age' , 'fever'])

In [46]:
df.head(3)

  gender cough     city has_covid
0   Male  Mild  Kolkata        No
1   Male  Mild    Delhi       Yes
2   Male  Mild    Delhi        No

In [47]:
from sklearn.preprocessing import OrdinalEncoder

In [48]:
oe = OrdinalEncoder(categories = [['Male' , 'Female'],
                                 ['Mild' , 'Strong'],
                                 ['Kolkata' ,'Bangalore' , 'Delhi' , 'Mumbai' ],
                                 ['Yes' , 'No']])

In [49]:
oe_sc = oe.fit_transform(df)

In [52]:
new_df = pd.DataFrame(oe_sc , columns =df.columns)
new_df.head(3)

   gender  cough  city  has_covid
0     0.0    0.0   0.0        1.0
1     0.0    0.0   2.0        0.0
2     0.0    0.0   2.0        1.0

In [53]:
new_df = new_df.astype(int)
new_df.head(4)

   gender  cough  city  has_covid
0       0      0     0          1
1       0      0     2          0
2       0      0     2          1
3       1      0     0          1